*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-size: 10px;
  font-family: sans-serif;
  background-color: #f3f2f5;
  margin: 0px 15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #211545;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #295879;
}
a{
  text-decoration: none;
  color: #211545;
}
.heading{
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #295879;
  position: relative;
}
.container img{
  width: 100%;
}
/* .card-wrapper{
  resize: both;
  overflow: auto;
  padding-left: 15px;
}
div.card{
  float:left;
  margin: 1rem;
} */
